<p id="notice"><%= notice %></p>

<h1>Parâmetros de Estado</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Esparam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @esvalparams.each do |esvalparam| %>
      <tr>
        <td><%= esvalparam.valor %></td>
        <td><%= esvalparam.esparam %></td>
        <% if can? :read, esvalparam %>
          <td><%= link_to 'Exibir', esvalparam %></td>
        <% end %>
        <% if can? :update, esvalparam %>
          <td><%= link_to 'Editar', edit_esvalparam_path(esvalparam) %></td>
        <% end %>
        <% if can? :destroy, esvalparam %>
          <td><%= link_to 'Remover', esvalparam, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parâmetro de Estado', new_esvalparam_path %>
