<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @esvalparam.valor %>
</p>

<p>
  <strong>Esparam:</strong>
  <%= @esvalparam.esparam %>
</p>

<%= link_to 'Editar', edit_esvalparam_path(@esvalparam) %> |
<%= link_to 'Voltar', esvalparams_path %>
