<p id="notice"><%= notice %></p>

<h1>Testedefinicaos</h1>

<table>
  <thead>
    <tr>
      <th>Versao</th>
      <th>Texto</th>
      <th>Checkvalor</th>
      <th>Checkexists</th>
      <th>Objeto</th>
      <th>Criterio</th>
      <th>Usuario</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @testedefinicaos.each do |testedefinicao| %>
      <tr>
        <td><%= testedefinicao.versao %></td>
        <td><%= testedefinicao.texto %></td>
        <td><%= testedefinicao.checkvalor %></td>
        <td><%= testedefinicao.checkexists %></td>
        <td><%= testedefinicao.objeto %></td>
        <td><%= testedefinicao.criterio %></td>
        <td><%= testedefinicao.usuario_id %></td>
        <% if can? :read, testedefinicao %>
          <td><%= link_to 'Exibir', testedefinicao %></td>
        <% end %>
        <% if can? :update, testedefinicao %>
          <td><%= link_to 'Editar', edit_testedefinicao_path(testedefinicao) %></td>
        <% end %>
        <% if can? :destroy, testedefinicao %>
          <td><%= link_to 'Remover', testedefinicao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if can? :create_file, testedefinicao %>
          <td><%= link_to "Gerar XML", xml_path(testedefinicao) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testedefinicao', new_testedefinicao_path %>
