<p id="notice"><%= notice %></p>

<h2>Tipos de Parâmetro de objetos</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parametros.each do |parametro| %>
      <tr>
        <td><%= parametro.name %></td>
        <td><%= link_to 'Exibir', parametro %></td>
        <td><%= link_to 'Editar', edit_parametro_path(parametro) %></td>
        <td><%= link_to 'Remover', parametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de Parâmetro de Objeto', new_parametro_path %>
