<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parametro.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @parametro.value %>
</p>

<%= link_to 'Edit', edit_parametro_path(@parametro) %> |
<%= link_to 'Back', parametros_path %>
