<p id="notice"><%= notice %></p>

<h1>Critério-Estados</h1>

<table>
  <thead>
    <tr>
      <th>Critério</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterioestados.each do |criterioestado| %>
      <tr>
        <td><%= criterioestado.criterio %></td>
        <td><%= criterioestado.estado %></td>
        <td><%= link_to 'Exibir', criterioestado %></td>
        <td><%= link_to 'Editar', edit_criterioestado_path(criterioestado) %></td>
        <td><%= link_to 'Remover', criterioestado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo critério-estado', new_criterioestado_path %>
