<p id="notice"><%= notice %></p>

<p>
  <strong>Criterio:</strong>
  <%= @criterioestado.criterio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @criterioestado.estado %>
</p>

<%= link_to 'Editar', edit_criterioestado_path(@criterioestado) %> |
<%= link_to 'Back', criterioestados_path %>
