<p id="notice"><%= notice %></p>

<p>
  <strong>Objeto:</strong>
  <%= @objetovalparametro.objeto_id %>
</p>

<p>
  <strong>Valparametro:</strong>
  <%= @objetovalparametro.valparametro_id %>
</p>

<%= link_to 'Edit', edit_objetovalparametro_path(@objetovalparametro) %> |
<%= link_to 'Back', objetovalparametros_path %>
