<!--<script type="text/javascript">
$("#objeto_parametro_ids").change(function(){
  $.ajax({
    url: your_url,
    //orther options ...
    success: function(data){
        $("#floors_select").html(data);
    }
  });

});
</script-->
<%= form_for(objeto) do |f| %>
  <% if objeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objeto.errors.count, "error") %> prohibited this objeto from being saved:</h2>

      <ul>
      <% objeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <div class="field">
      Tipo
      <select name="tipo" onchange="getParamByObjectType(event)">
        <option value="">Please select</option>
        <option value="1">SQL</option>
        <option value="2">Arquivo</option>
        <option value="3">Registro</option>
      </select>
    </div>

    <%#= collection_select(nil, :valparametro_ids, @valparametro, :id, :name, {:prompt   => "Select a Parameter"}, {:id => "floors_select"}) %>
    <%= f.fields_for :objetovalparametros do |builder| %>
      <%= render 'objetovalparametro_fields', :f => builder %>
    <% end %>

    <p id="addButton"><%= link_to_add_fields "Add parameters", f, :objetovalparametros %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
