<div class="control-group nested-fields">
  <div class="controls">
    <%#= f.fields_for :valparametros do |builder| %>
      <%= f.collection_select :parametro_id, Parametro.order(:name), :id, :name, {include_blank: true}, {class: 'parametro', onchange: 'myFunction(event)'} %>
      <%= f.collection_select :id, Valparametro.order(:valor).where(parametro_id: f.object.parametro_id), :id, :valor, {include_blank: true} %>
    <%# end %>
    <%= hidden_field_tag :field_name, '', :id => 'field_backup_' + f.index.to_s %>

      <%= link_to_remove_fields "remove", f, f.index %>
      <%= link_to '+', new_valparametro_path, target: :_blank %>
  </div>
</div>
