<p id="notice"><%= notice %></p>

<h1>Objetos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetos.each do |objeto| %>
      <tr>
        <td><%= objeto.name %></td>
        <% if can? :read, objeto %>
          <td><%= link_to 'Exibir', objeto %></td>
        <% end %>
        <% if can? :updade, objeto %>
          <td><%= link_to 'Editar', edit_objeto_path(objeto) %></td>
        <% end %>
        <% if can? :destroy, objeto %>
          <td><%= link_to 'Remover', objeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Objeto', new_objeto_path %>
