<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @objeto.name %>
</p>

<ul>
  <% for parametro in @objeto.parametros %>
  <li>
    <b><%=h parametro.name %>:</b>&nbsp;<%=h parametro.value %>
  </li>
  <% end %>
</ul>

<%= link_to 'Editar', edit_objeto_path(@objeto) %> |
<%= link_to 'Voltar', objetos_path %>
