<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @esparam.name %>
</p>

<p>
  <strong>Tipoestado:</strong>
  <%= @esparam.tipoestado %>
</p>

<%= link_to 'Edit', edit_esparam_path(@esparam) %> |
<%= link_to 'Back', esparams_path %>
