<p id="notice"><%= notice %></p>

<h1>Valparametros</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Parametro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valparametros.each do |valparametro| %>
      <tr>
        <td><%= valparametro.valor %></td>
        <td><%= valparametro.parametro %></td>
        <td><%= link_to 'Show', valparametro %></td>
        <td><%= link_to 'Edit', edit_valparametro_path(valparametro) %></td>
        <td><%= link_to 'Destroy', valparametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valparametro', new_valparametro_path %>
