<p id="notice"><%= notice %></p>

<h1>Parâmetros de Objeto</h1>

<table>
  <thead>
    <tr>
      <th>Valor</th>
      <th>Parametro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valparametros.each do |valparametro| %>
      <tr>
        <td><%= valparametro.valor %></td>
        <td><%= valparametro.parametro %></td>
        <% if can? :read, valparametro %>
          <td><%= link_to 'Exibir', valparametro %></td>
        <% end %>
        <% if can? :updade, valparametro %>
          <td><%= link_to 'Editar', edit_valparametro_path(valparametro) %></td>
        <% end %>
        <% if can? :destroy, valparametro %>
          <td><%= link_to 'Remover', valparametro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parâmetro de Objeto', new_valparametro_path %>
