<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @valparametro.valor %>
</p>

<p>
  <strong>Parametro:</strong>
  <%= @valparametro.parametro %>
</p>

<%= link_to 'Edit', edit_valparametro_path(@valparametro) %> |
<%= link_to 'Back', valparametros_path %>
