<div align="center">
<h1> &lt FORMULÁRIO DE CADASTRO DE NOVO USUÁRIO &gt</h1>
</div>

<div width="400px">
<p>
<%= label_tag "Nome Completo" %>
<%= text_field_tag :nome_completo %> 
</p>
<p>
<%= label_tag "Email" %>
<%= text_field_tag :email %>
</p>
<p>
<%= label_tag "Endereço" %>
<%= text_field_tag :endereco %>
</p>
</div>

<%= link_to "Cadastrar", controller: "sessions", action: "index" %>