<%= form_for(criterio) do |f| %>
  <% if criterio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criterio.errors.count, "error") %> prohibited this criterio from being saved:</h2>

      <ul>
      <% criterio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
  <div class="field">
    <%= f.label :operador %>
    <%= f.select :operador, Criterio.operadors.keys %>
  </div>

  <%= f.fields_for :criterioestados do |builder| %>
    <%= render 'criterioestado_fields', :f => builder %>
  <% end %>

    <p id="addButton"><%= link_to_add_fields2 "Add parameters", f, :criterioestados %></p>
</div>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
