<p id="notice"><%= notice %></p>

<h1>Critérios</h1>

<table>
  <thead>
    <tr>
      <th>Operador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterios.each do |criterio| %>
      <tr>
        <td><%= criterio.operador %></td>
        <% if can? :read, criterio %>
          <td><%= link_to 'Exibir', criterio %></td>
        <% end %>
        <% if can? :updade, criterio %>
          <td><%= link_to 'Editar', edit_criterio_path(criterio) %></td>
        <% end %>
        <% if can? :destroy, criterio %>
          <td><%= link_to 'Remover', criterio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Critério', new_criterio_path %>
