<p id="notice"><%= notice %></p>

<p>
  <strong>Objeto:</strong>
  <%= @parametrizacao.objeto %>
</p>

<p>
  <strong>Parametro:</strong>
  <%= @parametrizacao.parametro %>
</p>

<%= link_to 'Edit', edit_parametrizacao_path(@parametrizacao) %> |
<%= link_to 'Back', parametrizacaos_path %>
