<p id="notice"><%= notice %></p>

<h2>Tipos de Objeto</h2>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipoobjetos.each do |tipoobjeto| %>
      <tr>
        <td><%= tipoobjeto.descricao %></td>
        <td><%= link_to 'Exibir', tipoobjeto %></td>
        <td><%= link_to 'Editar', edit_tipoobjeto_path(tipoobjeto) %></td>
        <td><%= link_to 'Remover', tipoobjeto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de Objeto', new_tipoobjeto_path %>
