<p id="notice"><%= notice %></p>

<h2>Testes</h2>

<table>
  <thead>
    <tr>
      <th>Versao</th>
      <th>Texto</th>
      <th>Checkvalor</th>
      <th>Checkexists</th>
      <th>Objeto</th>
      <th>Criterio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testes.each do |testis| %>
      <tr>
        <td><%= testis.versao %></td>
        <td><%= testis.texto %></td>
        <td><%= testis.checkvalor %></td>
        <td><%= testis.checkexists %></td>
        <td><%= testis.objeto %></td>
        <td><%= testis.criterio %></td>
        <td><%= link_to 'Exibir', testis %></td>
        <td><%= link_to 'Editar', edit_testis_path(testis) %></td>
        <td><%= link_to 'Apagar', testis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Teste', new_testis_path %>
