<p id="notice"><%= notice %></p>

<h2>Estados</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Versao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estados.each do |estado| %>
      <tr>
        <td><%= estado.name %></td>
        <td><%= estado.versao %></td>
        <% if can? :read, estado %>
          <td><%= link_to 'Exibir', estado %></td>
        <% end %>
        <% if can? :update, estado %>
          <td><%= link_to 'Editar', edit_estado_path(estado) %></td>
        <% end %>
        <% if can? :destroy, estado %>
          <td><%= link_to 'Remover', estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Estado', new_estado_path %>
