<%= form_for(estadoesvalparam) do |f| %>
  <% if estadoesvalparam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estadoesvalparam.errors.count, "error") %> prohibited this estadoesvalparam from being saved:</h2>

      <ul>
      <% estadoesvalparam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado_id %>
    <%= f.text_field :estado_id %>
  </div>

  <div class="field">
    <%= f.label :esvalparam_id %>
    <%= f.text_field :esvalparam_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
