<p id="notice"><%= notice %></p>

<h2>Estado-Parâmetros</h2>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Esvalparam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estadoesvalparams.each do |estadoesvalparam| %>
      <tr>
        <td><%= estadoesvalparam.estado %></td>
        <td><%= estadoesvalparam.esvalparam %></td>
        <td><%= link_to 'Exibir', estadoesvalparam %></td>
        <td><%= link_to 'Editar', edit_estadoesvalparam_path(estadoesvalparam) %></td>
        <td><%= link_to 'Remover', estadoesvalparam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Estado-Parâmetro', new_estadoesvalparam_path %>
