<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @estadoesvalparam.estado %>
</p>

<p>
  <strong>Esvalparam:</strong>
  <%= @estadoesvalparam.esvalparam %>
</p>

<%= link_to 'Edit', edit_estadoesvalparam_path(@estadoesvalparam) %> |
<%= link_to 'Back', estadoesvalparams_path %>
