<!DOCTYPE html>
<html>
  <head>
    <title>Scaped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
  </head>

  <body>
    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav">
               <li class="sidebar-brand" style="text-indent: 0px;height: inherit;">
                   <%= link_to image_tag("scaped-logo.jpg", style: "width: 100%; text-align: center;"), root_path %>
               </li>
               <li>
                   <a href="#">Dashboard</a>
               </li>
               <li>
                   <a href="#">Shortcuts</a>
               </li>
               <li>
                   <a href="#">Overview</a>
               </li>
               <li>
                   <a href="#">Events</a>
               </li>
               <li>
                   <a href="#">About</a>
               </li>
               <li>
                   <a href="#">Services</a>
               </li>
               <li>
                   <a href="#">Contact</a>
               </li>
           </ul>
       </div>
       <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
        <%= yield %>
    <!-- /#page-content-wrapper -->

   </div>
   <!-- /#wrapper -->

   

   <!-- Menu Toggle Script -->
   <script>
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
   </script>
  </body>
</html>
